/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapers.com/images/high/bratz-1200-x-900-background-5xmct4ya2yv8aotj.webp'); /* Replace with the actual URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.6); /* Slightly transparent white background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #800080; /* Purple */
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea,
form input[type="password"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #ff69b4; /* Hot pink */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #d4008
}

.quote-uploaded-image {
    max-width: 100%;
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.quote-thumbnail {
    max-width: 50px; /* Adjust thumbnail size as needed */
    margin-top: 10px; /* Adjust spacing as needed */
    display: block;
    border-radius: 5px;
}

.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 105, 180, 0.8); /* Hot pink with 80% opacity */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
